@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

.dark {
  --body-color:#202C36;
  --primary-color: #2B3844;
  --text-color: #fff;
  --bg-img-dark: url('../imgs/sun-regular-24.png');
  --placeholder-color: #fff;
}
:root {
  --body-color: #f2f2f2;
  --primary-color: #fff;
  --text-color: #111517;
  --bg-img-dark: url('../imgs/moon-regular-24.png');
  --box-bg-color: #ff0;
  --placeholder-color: #848484;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.4s ease;
}

.container {
  width: 1300px;
  padding: 0 10px;
}

.site-header {
  background-color: var(--primary-color);
  padding: 24px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
.logo-heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.light-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  text-transform: capitalize;
}
.light-dark::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: var(--bg-img-dark); 
  background-size: cover;
  display: inline-block;
  position: relative;
  right: 8px;
  margin-left: 8px;
}

.site-main {
  padding: 48px 0;
}

.input-search {
  background-color: var(--primary-color);
  padding: 19px 32px;
  width: 480px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  height: 56px;
}

.bx-search-alt-2 {
  color: var(--text-color);
  font-size: 20px;
  margin-right: 20px;


}
input[type="text"] {
  background-color: transparent;
  color: var(--text-color);
  width: 85%;
  border: none;
 font-size: 14px;
 line-height: 20px;
}
input[type="text"]:focus {
  outline: none;
}
::placeholder {
  color: var(--placeholder-color);
}


.select-css {
  padding: 18px 24px;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none ;
  background-color: #fff;
  width: 200px;
  height: 56px;
  background-color: var(--primary-color);
  
}
select{
  border: none;
  outline: none;
  appearance: none;
  background-color: var(--primary-color);
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  
}
.bx-chevron-down{
  font-size: 20px;
}
.countries-list{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4,264px);
  grid-template-rows: repeat(4,336px);
  padding: 48px 0;
  grid-gap: 75px;
}
.countries-items{
  background-color: var(--primary-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  overflow: hidden;
}
.img-box{
  width: 100%;
  height: 160px;
  background-image: url('../imgs/12Flag_of_Germany.svg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.first{
  background-image: url('../imgs/flagofamireca.svg');
}
.second{
  background-image: url('../imgs/flagofbrazila.svg');
}
.third{
  background-image: url('../imgs/flagoficeland.svg');
}
.four{
  background-image: url('../imgs/flagofafganistan.svg');
}
.five{
  background-image: url('../imgs/flafofalendisland.svg');
}
.six{
  background-image: url('../imgs/flagofalbane.svg');
}
.seven{
  background-image: url('../imgs/flagofalgeria.svg');
}
.abouts{
  width: 100%;
  height: 176px;
  padding: 24px 24px 46px 24px;
}
.counries-name{
  font-family: Nunito Sans;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}
span{
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  
}
.statics{
  font-family: Nunito Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}



